{% extends 'base.html' %}

{% block titulo %} HOME 🏠 {% endblock %}

{% block contenido %}

    {% if user.is_authenticated %}
        <h1>Hola {{user.username}}</h1>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>

            <a href="{% url 'password_change' %}">Cambiar contraseña</a>

        </form>

    {%else %}
        <p>No estas logeado</p>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'password_reset' %}">Recuperar contraseña</a>
    {% endif %}

{% endblock %}